@model MVC_DatingApp.Models.PostViewForUser
@{
    ViewBag.Title = "CreatePost";
}
@foreach (var post in Model.ListOfPosts)
{
            <div class="media-body">
                <span class="badge">
                    <a href="@Url.Action("Index", "User", new { id = post.PostFrom.Id })" class="card-link">
                        <img class="mr-1" src="@Url.Action("RenderImage", "User", new { id = post.PostFrom.Id })" height="48" width="48" />
                    </a>
                    <span>@post.PostFrom.FirstName @post.PostFrom.LastName</span>
                    <span>@post.PostDateTime</span>
                </span>
            </div>
    <div class="card-body">
        <p class="card-text">@post.Message</p>
    </div>

}